.lue
# History files
.Rhistory
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# Eclipse files
.project
.settings
# Extra source folders and compiled code
src-i386
src-x64
*.o
*.dll
*.so
*.Rproj
*.Rproj.user
.Rproj.user
.settings
vignettes/figure
vignettes/Sweave.sty
vignettes/seqHMM.log
vignettes/seqHMM.synctex.gz
vignettes/seqHMM.tex
vignettes/seqHMM.pdf
vignettes/seqHMM.bbl
vignettes/seqHMM-concordance.tex
